
server {
        listen 80;
        listen [::]:80;
        server_name alexa.jamesgthomas.com www.alexa.jamesgthomas.com;
        return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;
    server_name alexa.jamesgthomas.com www.alexa.jamesgthomas.com;

    include snippets/ssl-params.conf;
    include snippets/ssl-alexa.conf;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:///var/www/alexa/reddit_news/reddit_news.sock;
    }
}
