[Unit]
Description=uWSGI instance to serve tide_times_leith
After=network.target

[Service]
User=walljames
Group=www-data
WorkingDirectory=/var/www/leithtides.info/html
Environment="PATH=/home/walljames/Python/VirtualEnvs/flask/bin"
ExecStart=/home/walljames/Python/VirtualEnvs/flask/bin/uwsgi --ini /var/www/leithtides.info/html/ttl.ini

[Install]
WantedBy=multi-user.target
