
server {
        listen 80;
        listen [::]:80;
        server_name leithtides.info www.leithtides.info;
        return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;

    root /var/www/leithtides.info/html;
    server_name leithtides.info www.leithtides.info;

    include snippets/ssl-params.conf;
    include snippets/ssl-tides.conf;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:///var/www/leithtides.info/html/tide_times_leith.sock;
    }
}
