[Unit]
Description=uWSGI instance to serve Leith Tides 
After=network.target

[Service]
User=walljames
Group=www-data
WorkingDirectory=/var/www/leithtides.info/html
Environment="PATH=/home/walljames/Python/VirtualEnvs/flask/bin"
ExecStart=/home/walljames/Python/VirtualEnvs/flask/bin/uwsgi --ini leith_tides.ini

[Install]
WantedBy=multi-user.target
